:root{
  --main1 : #193463;
  --main2 : #7587B9;
}

a.navbar{
  color: white;
}

.bg-main1, .btn-main1{
  background-color: var(--main1);
  color: white;
}

.bg-outline-main1, .btn-outline-main1{
  border-color: var(--main1);
  color: var(--main1);
}

.bg-main2, .btn-main2{
  background-color: var(--main2);
  color: white;
}

.btn-main1{
  border-color: var(--main1);
}

.btn-main1:hover{
  background-color: var(--main2);
  border-color: var(--main1);
  color: white;
}

.card-main1{
    min-width: 300;
}

.cursor{
  cursor: pointer;
}

th, td.symbol {
  text-align: center;
  vertical-align: middle;
}

td.text {
  text-align: left;
  vertical-align: middle;
}

td.number {
  text-align: right;
  vertical-align: middle;
}


/* Disable aside hover */
.main-sidebar:not(.sidebar-no-expand):hover{
  width: 250px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  top: 10px;
  display: inline-block;
  width: 36px;
  height: 20px;
}
  
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

